<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-6">
                <div class="card shadow-lg o-hidden border-2 my-5">
                    <div class="card-body py-2">
               
                    
                    
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Créer un compte</h4>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Nom" name="first_name"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Prénom" name="last_name"></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Adresse mail" name="email"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Mot de passe" name="password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeter mot de pase" name="password_repeat"></div>
                                </div>
                                <br>
                                <div align="center"><button class="btn btn-primary  text-white btn-user" type="submit"> <a routerLink="/details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Enregistrer</a></button></div>
                                
                               
                            </form>
                            <div class="text-center"><a class="small" a routerLink="/motdepasse" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: brown;">Mot de passe oublié?</a></div>
                            <div class="text-center"><a class="small" a routerLink="/login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: brown;">Avez-vous déjà un mot de passe? Authentifier!</a></div>
                        </div>
                    </div> 
                    
                </div>
                </div>
            </div>
        </div>
    </div>
