<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-6">
                <div class="card shadow-lg o-hidden border-2 my-5">
                    <div class="card-body py-2">



                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user" [formGroup]="registerForm" (ngSubmit)="save()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="firstname" name="firstname" formControlName="firstName" placeholder="Prénom" [(ngModel)]="users.firstName">

                                    </div>


                                    <div class="col-sm-6">
                                        <input class="form-control form-control-user" type="text" id="lastname" formControlName="lastName" [(ngModel)]="users.lastName" placeholder="Nom" name="lastame"></div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control-user" type="email" id="email" formControlName="email" aria-describedby="emailHelp" [(ngModel)]="users.email" placeholder="Email Address" name="email"></div>
                                <div class="form-group row">

                                    <input class="form-control form-control-user" type="password" formControlName="password" id="examplePasswordInput" [(ngModel)]="users.password" placeholder="Mot de passe" name="password">



                                    <div class="col-sm-6">
                                    </div>
                                    <br>
                                    <button mat-raised-button type="submit" class="btn btn-primary btn-sm">  <span class="material-icons">
                                      
                                        </span> Confirmer</button></div>
                            </form>
                            <div class="text-center"><a class="small" a routerLink="/motdepasse" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: brown;">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" a routerLink="/login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: brown;">Already have an account? Login!</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>