<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-6">
                <div class="card shadow-lg o-hidden border-2 my-5">
                    <div class="card-body py-2">



                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Créer un compte</h4>
                            </div>
                            <form class="user" [formGroup]="registerForm" (ngSubmit)="save()">
                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0 ">

                                        <input class="form-control form-control-user" type="text" id="lastname" formControlName="lastName" [(ngModel)]="users.lastName" placeholder="Nom" name="lastame">
                                        <small class="text-danger" *ngIf="submitted && registerForm.get('lastName').hasError('required')">lastName is required.</small>

                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="firstname" name="firstname" formControlName="firstName" placeholder="Prénom" [(ngModel)]="users.firstName">
                                        <small class="text-danger" *ngIf="submitted && registerForm.get('firstName').hasError('required')">firstName is required.</small>

                                    </div>






                                </div>
                                <div class="form-group">
                                    <input class="form-control form-control-user" type="email" id="email" formControlName="email" aria-describedby="emailHelp" [(ngModel)]="users.email" placeholder="Email Address" name="email"></div>
                                <small class="text-danger" *ngIf="submitted && registerForm.get('email').hasError('required')">email is required.</small>
                                <small class="text-danger" *ngIf="submitted && registerForm.get('email').hasError('email')">email is invalid.</small>



                                <div class="form-group row">

                                    <input class="form-control form-control-user" type="password" formControlName="password" id="examplePasswordInput" [(ngModel)]="users.password" placeholder="Mot de passe" name="password">
                                    <small class="text-danger" *ngIf="submitted && registerForm.get('password').hasError('required')">password is required.</small>

                                </div>
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <img *ngIf="thumbnail !== ''" width="42" class="rounded-circle" [src]='thumbnail' alt="">
                                            <img *ngIf="thumbnail == '' " width="42" class="rounded-circle" src="assets/img/avatars/avatar1.jpeg" alt="">
                                        </a>

                                    </div>
                                </div>
                                <div id="file-upload-form" class="uploader">
                                    <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
                                    <input id="file-upload" type="file" name="fileUpload" accept="image/*" (change)="onFileChanged($event)" />
                                    <label for="file-upload" id="file-drag">
                                      <div id="start">
                                      
                                    
                                      </div>
                                    </label>
                                </div>
                                <br>
                                <button (click)="onUpload()" type="submit" class="btn btn-primary" data-dismiss="modal" (click)="Restlogin(registerForm.get('email').value)">
                                    Enregistrer
                                  </button>

                            </form>

                            <div class="text-center"><a class="small" a routerLink="/login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="color: brown;">Avez-vous déjà un mot de passe? Authentifier!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>