<div class="bg-gradient-primary">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6 col-lg-6 col-xl-6">
              <div class="card shadow-lg o-hidden border-2 my-5">
                  <div class="card-body py-2"> 

                    <div class="p-5">
                      <div class="text-center">
                        <h4 class="text-dark mb-4">Votre Adresse</h4>
                    </div>

<form class="user"  >
  
  <div class="form-group row">
    <div class="form-group"><input  class="form-control form-control-user" type="text" id="adressemaison" aria-describedby="adresseHelp" placeholder="adresse_de_maison" name="adresse_de_maison">
     </div>

</div>
<div class="form-group row">
  <div class="form-group"><input  class="form-control form-control-user" type="text" id="adresse_travil" aria-describedby="adressetravail" placeholder="adresse_de_travail" name="adresse_de_travail"></div>
</div>
<div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0"><input  class="form-control form-control-user" type="text" id="région" placeholder="Région" name="Région"></div>
      <div class="col-sm-6"><input  class="form-control form-control-user" type="text" id="zip" placeholder="ZIP" name="ZIP"></div>
</div>

<div class="col-sm-6 mb-3 mb-sm-0">
  <label for="inputState" class="form-label">Etats</label>
      <select id="inputState" class="form-select"  >
        <option selected >Ariana</option>
        <option>Béja</option>
        <option>Ben Arous</option>
        <option>Bizerte</option>
        <option>Gabès</option>
        <option>Gafsa</option>
        <option>Jendouba</option>
        <option>Kairouan</option>
        <option>Kasserine</option>
        <option>Kébili</option>
        <option>Le Kef</option>
        <option>Mahdia</option>
        <option>La Manouba</option>
        <option>Médenine</option>
        <option>Monastir</option>
        <option>Nabeul</option>
        <option>Sfax</option>
        <option>Sidi Bouzid</option>
        <option>Siliana</option>
        <option>Sousse</option>
        <option>Tataouine</option>
        <option>Tozeur</option>
        <option>Tunis</option>
        <option>Zaghouan</option>
      </select>
    </div>

    <br>
    
   <div style="text-align: center;">
    <div class="form-group row" >
      <div  ><button   type="button" class="btn btn-primary btn-sm" style="margin-right: 50px;">inscription</button>
      <button type="button" class="btn btn-secondary btn-sm"><a routerLink="/details"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Retourner</a></button></div>
</div>
</div>
      
    
    

    <hr>
  </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

