<div id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="./assets/img/forum.png" class="logo"></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: #db695f;">Forum de la 
                        <br>république</span></div>
                </a>
                <br><br><br><br><br><br>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" a routerLink="/dashbord" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" a routerLink="/gestionadherents" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-table"></i><span>Gestion des adhérents</span></a></li>
                    <li class="nav-item"><a class="nav-link" a routerLink="/gestionevent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-table"></i><span>Gestion des Evénements</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Administrateur</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Changer mot de passe</a>

                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">

                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow">
                                    <div class="mb-3">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-3 order-lg-2">
                                                <div class="card-profile-image">
                                                    <a href="javascript:void(0)">
                                                        <img [src]="thumbnail" class="rounded-circle" style="width: 100px;height: 100px;">



                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1">Modifier la photo de Photo</button>



                                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body p-0">
                                                        <div class="card bg-secondary shadow border-0">
                                                            <div class="card-header bg-white">
                                                                <div class="text-muted text-center">
                                                                    <h3>Changer la photo du profil</h3>
                                                                </div>
                                                            </div>
                                                            <div class="card-body px-lg-5 py-lg-5">

                                                                <form role="form" [formGroup]="">
                                                                    <div class="custom-file hedha">
                                                                        <input type="file" class="custom-file-input" accept="image/*" (change)="onSelectFile($event)" id="customFileLang" lang="en">
                                                                        <label class="custom-file-label" for="customFileLang">image selectionée</label>
                                                                    </div>
                                                                    <div class="text-center">
                                                                        <span class=" rounded-circle">
                                                              <img class=" rounded-circle"  style="width: 100px;" [src]="imageSrc">
                                                            </span> </div>

                                                                    <div class="text-center" *ngIf="selected">
                                                                        <button type="submit" (click)="onUploadc()" (click)="getProfileImg" class="btn btn-sm btn-primary mt-4">Changer la photo du profil</button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button id="closeModalButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">


                                        <div class="card-body">
                                            <div class="col-md-6" *ngIf="!edit">
                                                <div class="profile-head">
                                                    <h5>
                                                        {{userr?.firstName}} {{userr?.lastName}}
                                                    </h5>


                                                    <p class="proile-rating">email : <span style="color: black;">{{userr?.email}}</span></p>

                                                    <p class="proile-rating">Téléphone : <span style="color: black;">{{userr?.telephone}}</span></p>
                                                </div>
                                            </div>




                                            <form [formGroup]="form" *ngIf="edit">
                                                <h3 style="color: #db695f;">Modifier Profile</h3><br>
                                                <div class="form-row">

                                                    <div class="col">
                                                        <div class="form-group"><label for="firstName"><strong>Nom</strong></label><input class="form-control" formControlName="firstName" type="text" placeholder="Nom" name="firstName"></div>

                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="lastName"><strong>Prénom</strong></label><input class="form-control" type="text" formControlName="lastName" placeholder="Prénom" name="lastName"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email</strong></label><input class="form-control" type="email" formControlName="email" placeholder="votre email" name="email"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="telephone"><strong>Télèphne</strong></label><input class="form-control" type="tel" formControlName="telephone" placeholder="télèphone" name="telephone"></div>
                                                    </div>


                                                </div>



                                            </form>

                                            <div class="col-md-2">
                                                <div *ngIf="!edit">
                                                    <input type="button" (click)="updateUser()" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                                                </div>
                                                <div *ngIf="edit">
                                                    <input type="button" (click)="AnnulerUpdateUser()" class="profile-edit-btn" name="btnAddMore" value="Annuler" />
                                                </div>
                                                <br>
                                                <div *ngIf="edit">
                                                    <input type="button" (click)="saveUpdateUser()" class="profile-edit-btn" name="btnAddMore" value="Sauvegarder" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Paramètre d'utilisateur</p>
                                        </div>
                                        <div class="card-body">




                                            <form [formGroup]="formdetail">
                                                <div class="form-row">

                                                    <div class="col">
                                                        <p class="proile-rating">Profession : <span style="color: black;">{{detais?.profession}}</span></p>

                                                        <p class="proile-rating">Date de naissance : <span style="color: black;">{{detais?.date_de_naissance}}</span></p>
                                                        <p class="proile-rating">Statut social: <span style="color: black;">{{detais?.statut_social}}</span></p>
                                                        <p class="proile-rating">Sexe: <span style="color: black;">{{detais?.sexe}}</span></p>
                                                        <p class="proile-rating">Nationalité: <span style="color: black;">{{detais?.nationalite}}</span></p>
                                                    </div>
                                                </div>






                                            </form>





                                            <form [formGroup]="formadresse">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <p class="proile-rating">Nom de ville: <span style="color: black;">{{adresses?.city_name}}</span></p>

                                                        <p class="proile-rating">Adresse de maison : <span style="color: black;">{{adresses?.home_adress}}</span></p>
                                                        <p class="proile-rating">Adresse de travail: <span style="color: black;">{{adresses?.work_adress}}</span></p>
                                                        <p class="proile-rating">Région: <span style="color: black;">{{adresses?.region}}</span></p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>