<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/forum.png" class="logo">

        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/forum.png" class="logo">

                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" routerLink="/" class="nav-link dropdown-toggle">Accueil </a>


                        </li>


                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/service">Activités&Evènements <i class=""></i></a>


                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/about">Qui sommes nous </a>


                        </li>



                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contactez-nous</a></li>
                    </ul>

                    <div class="navbar-button">
                        <a routerLink="/login" class="nav-link" routerLinkActive="active">Se Connecter</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>






<div class="about-title about-title-bg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="about-title-text">
                    <h2>QUI SOMMES NOUS</h2>
                    <ul>
                        <li><a routerLink="/">Accueil</a></li>
                        <li><i class="icofont-rounded-double-right"></i>Qui sommes nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="    padding-right: calc(var(--bs-gutter-x) * 1);
padding-left: calc(var(--bs-gutter-x) * 2); ">
    <div class="col-sm-6" style="padding: 5%;">
        <h2 style="text-align: center;">Cadre général: <span></span></h2>
        <p style="font-family: 'IcoFont!important';
        font-size: 18px !important;text-align: start;">

            L’association, Forum de la République, est une association qui s’engage à contribuer à la construction d’une démocratie dynamique et tolérante en Tunisie aboutissant à l’instauration des gouvernements responsables qui opèrent dans la transparence pour
            la mise en place de politiques publiques assurant une plus grande équité dans les systèmes économique, politique et législatif et garantissant le respect des droit fondamentaux. Cette structure se veut un « cadre de réflexion et d’échanges
            sur la démocratie, offrant aux citoyens et aux personnalités morales un cadre d’expression libre de leurs opinions et avis sur la pratique de la démocratie ainsi que leurs propositions quant à l’essor de l’économie Tunisienne en prenant compte
            des diverses composantes sociales et de l’attribut du développement durable. »
        </p>



    </div>
    <div class="col-sm-6" style="padding: 5%;">
        <h2 style="text-align: center;">Mission : <span></span></h2>
        <p style="
        font-size: 18px !important;text-align: start;">Notre mission est de:
            <i class="icofont-check-circled"> 
             présenter les candidats, d’exposer leurs programmes, de rapprocher les candidats et les élus 
             <br>
             des 
             citoyens et rendre le citoyen un partenaire actif et non pas une simple cible électorale. 
            </i>
            <br>
            <i class="icofont-check-circled"> 
            assurer une bonne gouvernance dans le but de la lutte contre la corruption.
              </i>

            <br>

            <i class="icofont-check-circled"> 
         rassembler les énergies actives afin de reconstruire l'édifice de la République.
        </i>
        </p>
    </div>

</div>








<div class="process-section process-style-two pt-100 pb-70">
    <div class="container">
        <div class="section-head blue-title text-center">




        </div>
        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <div class="process-card">
                    <i class="icofont-world"><a href="javascript:void(0)" routerLink="/map" class="nav-link"></a></i>
                    <h3>La localisation</h3>
                    <p></p>

                </div>
            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>