<div class="navbar-area">
  <div class="mobile-nav">
      <a routerLink="/" class="logo">
          <img src="assets/img/forum.png" class="logo">

      </a>
  </div>

  <div class="main-nav">
      <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="index.html">
                  <img src="assets/img/forum.png" class="logo">

              </a>

              <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a href="javascript:void(0)" routerLink="/" class="nav-link dropdown-toggle">Accueil </a>


                      </li>


                      <li class="nav-item">
                          <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/service">Activités&Evènements <i class=""></i></a>


                      </li>

                      <li class="nav-item">
                          <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/about">About-us </a>


                      </li>

                      <li class="nav-item">
                          <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/blog">Les adhérents </a>






                      </li>

                      <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contactez-nous</a></li>
                  </ul>

                  <div class="navbar-button">
                      <a routerLink="/login" class="nav-link" routerLinkActive="active">Se Connecter</a>
                  </div>
              </div>
          </nav>
      </div>
  </div>

</div>
<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
