<div id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="./assets/img/forum.png" class="logo"></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: #db695f;">Forum de la
                            <br>république</span></div>
                </a>
                <br><br><br>

                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" a routerLink="/dashbord" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/gestionadherents" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-table"></i><span>Géstion des adhérents</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/gestionevent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-table"></i><span>Géstion des Evénements</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">


                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Membres</h3>
                    <div class="card shadow">

                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Adhérents info</p>
                        </div>
                        <div class="card-body" style="width: 700px;">


                            <div class="row">

                                <div class="mainLoginInput">
                                    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche adhérent">
                                </div>
                                <div class="col--12">
                                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" style="display: inline;" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Email</th>


                                            <th>Télèphone</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let use of listuser ; let hero of heroes | filter:searchText">

                                            <td>{{use.id}}</td>
                                            <td>{{use.firstName}}</td>
                                            <td>{{use.lastName}}</td>
                                            <td>{{use.email}}</td>

                                            <td>{{use.telephone}}</td>


                                            <td>
                                                <div>
                                                    <div class="btn-group">
                                                        <div class="container-fluid">
                                                            <button (click)="deleteUserById(use)" (click)="confirmSwal(use.id)" type="button" class="btn btn-primary"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </div>

                                                        <!-- Button trigger modal -->
                                                        <div class="container-fluid"><button type="button" (click)="editUser(use)" class="btn btn-primary" id="b2" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                                            </button></div>
                                                        <div class="container-fluid">
                                                            <button type="button" class="btn btn-primary" a routerLink="/gestionadherent1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Details</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel1">Modifier Adhèrent
                                                                </h5>

                                                            </div>
                                                            <div class="modal-body">

                                                                <form class="user" [formGroup]="formuser">
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Nom" formControlName="firstName" name="firstName"></div>
                                                                        <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Prénom" formControlName="lastName" name="lastName"></div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="email" id="exampleFirstName" placeholder="email" formControlName="email" name="email">
                                                                        </div>
                                                                        <div class="col-sm-6"><input class="form-control form-control-user" type="tel" id="exampleFirstName" placeholder="telephone" formControlName="telephone" name="telephone"></div>
                                                                    </div>



                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                                <button type="button" (click)="updateUserr()" class="btn btn-primary" (click)="successSwal()">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <br>




                    <div class="row">
                        <div class="col-md-6 align-self-center">

                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                                aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>



            </div>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

</div>