<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url(./assets/img/loginimg.webp);"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4" style="width: 100%;
                                        FONT-SIZE: 200%;
                                        font-style: normal;
                                        font-family: -webkit-body;
                                        font-weight: revert;color: #b94a4a;text-decoration: underline;">Bienvenue! à Forum De La République!</h4>
                                    <h6>Connectez-vous à votre compte</h6>
                                </div>
                                <form class="user">
                                    <div class="form-group" style="color: #b94a4a;font-size: 100%;
                                        FONT-FAMILY: -webkit-body;
                                        FONT-WEIGHT: bold;"><label>Nom d'utilisateur</label><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Entrer votre nom d'utilisateur..." name="email"></div>
                                    <div class="form-group" style="color: #b94a4a;font-size: 100%;
                                        FONT-FAMILY: -webkit-body;
                                        FONT-WEIGHT: bold;"><label>Mot De Passe</label><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="*******" name="password"></div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Rester connecté</label></div>
                                        </div>
                                    </div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style=" 
                                            color: #fff;
                                            background-color: #b94a4a;
                                            border-color: #b94a4a;">S'authentifier</button>

                                </form>
                                <br>
                                <br>
                                <div class="text-center"><a class="small" a routerLink="/motdepasse" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="    color: #121212;
                                        text-decoration: underline;
                                        background-color: #c53b3b00;
                                        font-size: 100%;
    font-weight: 400;">Mot De Passe oublié?</a></div>
                                <div class="text-center"><a class="small"  style="    color: #121212;
                                        text-decoration: underline;
                                        background-color: #c53b3b00;
                                        font-size: 100%;
    font-weight: 400;"  a routerLink="/Register" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nouveau! Créer un compte</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>