<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/forum.png" class="logo">

        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/forum.png" class="logo">

                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" routerLink="/" class="nav-link dropdown-toggle">Accueil </a>


                        </li>


                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/service">Activités&Evènements <i class=""></i></a>


                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/about">About-us </a>


                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/blog">Les adhérents </a>






                        </li>

                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contactez-nous</a></li>
                    </ul>

                    <div class="navbar-button">
                        <a routerLink="/login" class="nav-link" routerLinkActive="active">Se Connecter</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>









<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image" style="background-image: url(./assets/img/loginimg.webp);"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4" style="width: 100%;
                                        FONT-SIZE: 200%;
                                        font-style: normal;
                                        font-family: -webkit-body;
                                        font-weight: revert;color: #b94a4a;text-decoration: underline;">Bienvenue au Forum De La République</h4>
                                    <h6>Connectez-vous à votre compte</h6>
                                </div>

                                <form class="user" [formGroup]="loginForm">


                                    <div class="form-group" style="color: #b94a4a;font-size: 100%;
                                        FONT-FAMILY: -webkit-body;
                                        FONT-WEIGHT: bold;"><label>Nom d'utilisateur</label>

                                        <input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" formControlName="email" [(ngModel)]="users.email" placeholder="Entrer votre email..." name="email">
                                        <small class="text-danger" *ngIf="submitted && loginForm.get('email').hasError('required')">Email is required.</small>
                                        <small class="text-danger" *ngIf="submitted && loginForm.get('email').hasError('email')">email is invalid.</small>

                                    </div>
                                    <div class="form-group" style="color: #b94a4a;font-size: 100%;
                                        FONT-FAMILY: -webkit-body;
                                        FONT-WEIGHT: bold;"><label>Mot De Passe</label>
                                        <input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="*******" formControlName="password" [(ngModel)]="users.password" name="password">
                                        <small class="text-danger" *ngIf="submitted && loginForm.get('password').hasError('required')">Password is required.</small>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <div class="form-check">
                                            </div>
                                        </div>

                                        <button class="btn btn-primary btn-block text-white btn-user" type="button" (click)="(submitForm())" style=" 

                                            color: #fff;
                                            background-color: #b94a4a;
                                            border-color: #b94a4a;">S'authentifier</button>


                                    </div>
                                </form>
                                <br>
                                <div class="text-center"><a class="small" a routerLink="/forgotlogin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="    color: #121212;
                                        text-decoration: underline;
                                        background-color: #c53b3b00;
                                        font-size: 100%;
    font-weight: 400;">Mot De Passe oublié?</a></div>
                                <div class="text-center"><a class="small" style="    color: #121212;
                                        text-decoration: underline;
                                        background-color: #c53b3b00;
                                        font-size: 100%;
    font-weight: 400;" a routerLink="/Register" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Nouveau! Créer un compte</a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>