<div id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="./assets/img/forum.png" class="logo"></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: #db695f;">Forum de la
                            <br>république</span></div>
                </a>
                <br><br><br>

                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" a routerLink="/dashbord" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/profile" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/gestionadherents"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-table"></i><span>Géstion des adhérents</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/gestionevent"
                            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-table"></i><span>Géstion des Evénements</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Membres</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Adresses </p>
                        </div>
                        <div class="card-body" style="width: 700px;">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label>Show&nbsp;<select
                                                class="form-control form-control-sm custom-select custom-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input
                                                type="search" class="form-control form-control-sm"
                                                aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" style="display: inline;" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>

                                            <th>Région</th>
                                            <th>Nom_de_ville</th>
                                            <th>Adresse_de_maison</th>
                                            <th>Adresse_de_travail</th>

                                            <th>ZIP</th>
                                            <th>Etas</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let adres of listadress ">
                                            <td>{{adres.id}}</td>
                                            <td>{{adres.region}}</td>
                                            <td>{{adres.city_name}}</td>
                                            <td>{{adres.home_adress}}</td>
                                            <td>{{adres.work_adress}}</td>
                                            <td>{{adres.zip}}</td>
                                            <td>{{adres.etats}}</td>

                                            <td>
                                                <div class="btn-group">
                                                    <div class="container-fluid"><button
                                                            (click)="deleteAdressById(adres)" type="button"
                                                            class="btn btn-primary"><i class="fa fa-trash"
                                                                aria-hidden="true"></i></button></div>
                                                    <div class="container-fluid"><button (click)="editAdresse(adres)"
                                                            type="button" class="btn btn-primary" id="b1"
                                                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            <i class="fa fa-wrench" aria-hidden="true"></i>
                                                        </button></div>


                                                </div>
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modifier
                                                                    Adresse</h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <form class="user" [formGroup]="formadresse" >
                                                                    <div class="form-group row">

                                                                        <div class="col-sm-6"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="Région" name="region"
                                                                                formControlName="region"></div>
                                                                                <div class="col-sm-6"><input
                                                                                    class="form-control form-control-user"
                                                                                    type="text" id="exampleFirstName"
                                                                                    placeholder="Etats" name="etats"
                                                                                    formControlName="etats"></div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="Nom_de_ville"
                                                                                name="city_name"
                                                                                formControlName="city_name"></div>
                                                                        <div class="col-sm-6"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="Adresse_de_maison"
                                                                                name="home_adress"
                                                                                formControlName="home_adress"></div>
                                                                    </div>

                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="examplePasswordInput"
                                                                                placeholder="Adresse_de_travail"
                                                                                name="work_adress"
                                                                                formControlName="work_adress"></div>
                                                                        <div class="col-sm-6"><input
                                                                                class="form-control form-control-user"
                                                                                type="text"
                                                                                id="exampleRepeatPasswordInput"
                                                                                placeholder="ZIP" name="zip"
                                                                                formControlName="zip"></div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Fermer</button>
                                                                <button type="button" class="btn btn-primary" (click)=" updateAdress()"
                                                                    >Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>







                                            </td>
                                        </tr>

                                    </tbody>

                                </table>


                            </div>
                        </div>

                    </div>
                </div>


                <br><br>

                <div class="container-fluid">
                    <div class="card shadow">

                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Détails</p>
                        </div>
                        <div class="card-body" style="width: 700px;">


                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label>Show&nbsp;<select
                                                class="form-control form-control-sm custom-select custom-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input
                                                type="search" class="form-control form-control-sm"
                                                aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                                <div class="col--12">
                                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" style="display: inline;" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>cin</th>
                                            <th>Date_de_naissance</th>
                                            <th>Profession</th>
                                            <th>Statut_social</th>

                                            <th>Sexe</th>

                                            <th>Nationalité</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let det of listdetail ">

                                            <td>{{det.id}}</td>
                                            <td>{{det.cin}}</td>
                                            <td>{{det.date_de_naissance}}</td>
                                            <td>{{det.profession}}</td>

                                            <td>{{det.statut_social}}</td>
                                            <td>{{det.sexe}}</td>
                                            <td>{{det.nationalite}}</td>


                                            <td>
                                                <div>
                                                    <div class="btn-group">
                                                        <div class="container-fluid">
                                                            <button type="button" (click)="deleteDetailById(det)" class="btn btn-primary"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </div>

                                                        <!-- Button trigger modal -->
                                                        <div class="container-fluid">
                                                            <button type="button" (click)="editDetail(det)"
                                                                class="btn btn-primary" id="b2" data-bs-toggle="modal"
                                                                data-bs-target="#exampleModal1">
                                                                <i class="fa fa-wrench" aria-hidden="true"></i>
                                                            </button></div>
                                                    </div>
                                                </div>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal1" tabindex="-1"
                                                    aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel1">Modifier
                                                                    Détail</h5>

                                                            </div>
                                                            <div class="modal-body">

                                                                <form class="user" [formGroup]="formdetail">
                                                                    
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="Date_de_naissance"
                                                                                name="date_de_naissance" formControlName="date_de_naissance"></div>
                                                                        <div class="col-sm-6"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="Profession"
                                                                                name="profession" formControlName="profession"></div>
                                                                    </div>

                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                                                class="form-control form-control-user"
                                                                                type="text"
                                                                                id="examplePasswordInput"
                                                                                placeholder="Sexe" name="sexe" formControlName="sexe"></div>
                                                                        <div class="col-sm-6"><input
                                                                                class="form-control form-control-user"
                                                                                type="text"
                                                                                id="exampleRepeatPasswordInput"
                                                                                placeholder="Nationalité"
                                                                                name="nationalite" formControlName="nationalite"></div>
                                                                    </div>

                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="CIN" name="cin" formControlName="cin"></div>
                                                                        <div class="col-sm-6"><input
                                                                                class="form-control form-control-user"
                                                                                type="text" id="exampleFirstName"
                                                                                placeholder="Statut_social"
                                                                                name="statut_social" formControlName="statut_social"></div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Fermer</button>
                                                                <button type="button" (click)=" updateDetails()"
                                                                    class="btn btn-primary">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>




                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>