<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/forum.png" class="logo">

        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/forum.png" class="logo">

                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" routerLink="/" class="nav-link dropdown-toggle">Accueil </a>


                        </li>


                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/service">Activités&Evènements <i class=""></i></a>


                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/about">About-us </a>


                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/blog">Les adhérents </a>






                        </li>

                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contactez-nous</a></li>
                    </ul>

                    <div class="navbar-button">
                        <a routerLink="/login" class="nav-link" routerLinkActive="active">Se Connecter</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>











<div class="service-title service-title-bg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="service-title-text">
                    <h2>Activités & Evènements</h2>
                    <ul>
                        <li><a routerLink="/">Accueil</a></li>
                        <li><i class="icofont-rounded-double-right"></i> Activités&Evènements</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-service-area single-service-page pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width:30%" src="assets/img/culture.svg"></i>
                            <h3>Culture</h3>
                            <p></p>

                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Savoir plus</a>
                            </div>

                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width:30%" src="assets/img/santé.svg"></i>
                            <h3>Santé</h3>
                            <p></p>

                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Savoir plus</a>
                            </div>

                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width:30%" src="assets/img/don.svg"></i>
                            <h3>Dons</h3>
                            <p></p>

                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Read More</a>
                            </div>
                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width: 30%" src="assets/img/undraw_goal_-0-v5v.svg"></i>
                            <h3>Sport</h3>
                            <p></p>


                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Savoir plus</a>
                            </div>

                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>

                    <div class="col-md-6">

                    </div>
                </div>
            </div>

            <div class="col-lg-4 main-service-area blog-side-bar">
                <div class="service-sidebar">
                    <form class="search-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-primary" style="background-color: #031888;
                            border-color: #031888;">
                                <i class="icofont-search-1"></i>
                            </button>
                        </div>
                    </form>