<div class="service-title service-title-bg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="service-title-text">
                    <h2>Activités & Evènements</h2>
                    <ul>
                        <li><a routerLink="/">Accueil</a></li>
                        <li><i class="icofont-rounded-double-right"></i> Activités&Evènements</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-service-area single-service-page pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width:30%" src="assets/img/culture.svg"></i>
                            <h3>La culture</h3>
                            <p></p>

                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Savoir plus</a>
                            </div>

                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width:30%" src="assets/img/santé.svg"></i>
                            <h3>La santé</h3>
                            <p></p>

                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Savoir plus</a>
                            </div>

                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width:30%" src="assets/img/don.svg"></i>
                            <h3>Les dons</h3>
                            <p></p>

                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Read More</a>
                            </div>
                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="service-item">
                            <i class=""><img style="max-width: 30%" src="assets/img/undraw_goal_-0-v5v.svg"></i>
                            <h3>Le sport</h3>
                            <p></p>


                            <div class="theme-button">
                                <a routerLink="/service-details" class="default-btn">Savoir plus</a>
                            </div>

                            <div class="service-shape">
                                <img src="assets/img/service/shapes/service-pattern-6.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-7.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-8.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-9.png" alt="shape">
                                <img src="assets/img/service/shapes/service-pattern-10.png" alt="shape">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>

                    <div class="col-md-6">

                    </div>
                </div>
            </div>

            <div class="col-lg-4 main-service-area blog-side-bar">
                <div class="service-sidebar">
                    <form class="search-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-primary" style="background-color: #031888;
                            border-color: #031888;">
                                <i class="icofont-search-1"></i>
                            </button>
                        </div>
                    </form>