.home-slider-item {
	&::before {
		position: absolute;
		content: "";
		background: linear-gradient(90deg, #ef958c 20%, rgba(0, 0, 0, 0) 100%);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}
.home-text {
	.active-btn {
		background: #dd3949;
		border: 1px solid transparent;
	}
}