<div class="navbar-area">
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/forum.png" class="logo">

        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/forum.png" class="logo">

                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" routerLink="/" class="nav-link dropdown-toggle">Accueil </a>


                        </li>


                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/service">Activités&Evènements <i class=""></i></a>


                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle" routerLink="/about">Qui sommes nous </a>


                        </li>


                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contactez-nous</a></li>
                    </ul>

                    <div class="navbar-button">
                        <a routerLink="/login" class="nav-link" routerLinkActive="active">Se Connecter</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>











<div class="home-section">
    <div class="home-slider-area owl-carousel owl-theme">
        <div class="home-slider-item items-bg1">
            <div class="d-table">

                <div class="d-table-cell">

                    <div class="container">

                        <div class="home-text">
                            <h1>Forum De La République <br>منتدى الجمهورية </h1>

                            <div class="theme-button">
                                <a routerLink="/about" class="default-btn ">Qui sommes nous</a>
                                <a routerLink="/contact" class="default-btn ">Contactez-nous</a>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="home-slider-item items-bg2">

            <div class="d-table">

                <div class="d-table-cell">

                    <div class="container">


                    </div>
                </div>
            </div>
        </div>

        <div class="home-slider-item items-bg3">
            <div class="d-table">
                <div class="d-table-cell">

                    <div class="container">
                        <div class="home-text">
                            <h1></h1>
                            <p></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="service-section pt-100 pb-70">
    <div class="container">
        <div class="section-head text-center">
            <h2>Activités Et Evenements</h2>
            <p></p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class=""><img style="max-width:100%" src="assets/img/event1.jpg"></i>

                    <div class="theme-button">
                        <a routerLink="/service" class="default-btn">A savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card ">
                    <i class=""><img style="max-width:100%" src="assets/img/event2.jpg"></i>
                    <div class="theme-button">
                        <a routerLink="/service" class="default-btn">A savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class=""><img style="max-width:100%" src="assets/img/event3.jpg"></i>
                    <div class="theme-button">
                        <a routerLink="/service" class="default-btn">A savoir plus </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class=""><img style="max-width:85%" src="assets/img/event4.jpg"></i>
                    <div class="theme-button">
                        <a routerLink="/service" class="default-btn">A savoir plus </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class=""><img style="max-width:100%" src="assets/img/event5.jpg"></i>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">A savoir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-card">
                    <i class=""><img style="max-width:100%" src="assets/img/event6.jpg"></i>
                    <div class="theme-button">
                        <a routerLink="/service-details" class="default-btn">A savoir plus</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>




<div class="counter-section pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="offer-text">
                    <!-- <img src="assets/img/loogo.jpg">

                    <div class="theme-button">
                        <a routerLink="/pricing" class="default-btn">Voir plus</a>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-7">
                <div class="counter-area">
                    <div class="row">
                        <div class="col-lg-5 col-md-3 col-6 offset-lg-1">
                            <div class="counter-text">
                                <h2><span class="counter">1</span>K</h2>
                                <p>Job Done</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-3 col-6">
                            <div class="counter-text">
                                <h2><span class="counter">989</span></h2>
                                <p>Happy Clients</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-3 col-6 offset-lg-1">
                            <div class="counter-text">
                                <h2><span class="counter">45</span></h2>
                                <p>Experts</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-3 col-6">
                            <div class="counter-text">
                                <h2><span class="counter">12</span></h2>
                                <p>Years of Experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="counter-shape">
        </div>
    </div>
</div>

<section class="team-section pt-100">
    <div class="container">
        <div class="section-head text-center">
            <h2>Nos Members</h2>
        </div>

        <div class="blog-slider owl-carousel owl-theme">
            <div class="">
                <div class=" team-card ">
                    <div class="team-img ">
                        <img src="assets/img/p.jpg " alt="team member ">

                        <div class="team-social ">
                            <a href="https://www.facebook.com/ " target="_blank "><i class="icofont-facebook "></i></a>
                            <a href="# " target="_blank "><i class="icofont-twitter "></i></a>
                            <a href="# " target="_blank "><i class="icofont-linkedin "></i></a>
                            <a href="# " target="_blank "><i class="icofont-instagram "></i></a>
                        </div>
                    </div>

                    <div class="team-text ">
                        <h4>Selma kacem
                        </h4>
                        <p>Presidente</p>
                    </div>
                </div>
            </div>

            <div class=" ">
                <div class="team-card ">
                    <div class="team-img ">
                        <img src="assets/img/FB.jpg " alt="team member ">

                        <div class="team-social ">
                            <a href="# " target="_blank "><i class="icofont-facebook "></i></a>
                            <a href="# " target="_blank "><i class="icofont-twitter "></i></a>
                            <a href="# " target="_blank "><i class="icofont-linkedin "></i></a>
                            <a href="# " target="_blank "><i class="icofont-instagram "></i></a>
                        </div>
                    </div>

                    <div class="team-text ">
                        <h4>chaima boughanmi</h4>
                        <p>Membre</p>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="team-card ">
                    <div class="team-img ">
                        <img src="assets/img/G.webp " alt="team member ">

                        <div class="team-social ">
                            <a href="# " target="_blank "><i class="icofont-facebook "></i></a>
                            <a href="# " target="_blank "><i class="icofont-twitter "></i></a>
                            <a href="# " target="_blank "><i class="icofont-linkedin "></i></a>
                            <a href="# " target="_blank "><i class="icofont-instagram "></i></a>
                        </div>
                    </div>

                    <div class="team-text ">
                        <h4>John Smith</h4>
                        <p>Membre</p>
                    </div>
                </div>
            </div>
            <div class="">
                <div class=" team-card ">
                    <div class="team-img ">
                        <img src="assets/img/p.jpg " alt="team member ">

                        <div class="team-social ">
                            <a href="https://www.facebook.com/ " target="_blank "><i class="icofont-facebook "></i></a>
                            <a href="# " target="_blank "><i class="icofont-twitter "></i></a>
                            <a href="# " target="_blank "><i class="icofont-linkedin "></i></a>
                            <a href="# " target="_blank "><i class="icofont-instagram "></i></a>
                        </div>
                    </div>

                    <div class="team-text ">
                        <h4>Salma bell
                        </h4>
                        <p>Membre</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<section class="blog-section pt-100 ">
    <div class="container ">
        <div class="section-head text-center ">
            <h2>Latest <span>Blogs</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore et dolore magna aliqua.</p>
        </div>

        <div class="blog-slider owl-carousel owl-theme ">
            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/1.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">How to cleanroom yourself</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/2.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">Enjoy the working time</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/3.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">Self cleaning is the best drill</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/1.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">How to cleanroom yourself</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/2.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">Enjoy the working time</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/3.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">Self cleaning is the best drill</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/1.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">How to cleanroom yourself</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/2.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">Enjoy the working time</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>

            <div class="blog-area ">
                <div class="blog-img ">
                    <a routerLink="/blog-details " class="d-block "><img src="assets/img/blog/3.png " alt="blog image "></a>
                </div>

                <div class="blog-text ">
                    <h4><a routerLink="/blog-details ">Self cleaning is the best drill</a></h4>
                    <ul>
                        <li><i class="icofont-calendar "></i> 20 Feb 2020</li>
                        <li><i class="icofont-ui-user "></i> <a routerLink="/ ">John Doe</a></li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor contratc ut labore.</p>
                    <a routerLink="/blog-details " class="blog-btn ">Read More <i class="icofont-rounded-right "></i></a>
                </div>
            </div>
        </div>
    </div>
</section>