.home-slider-item {
	&::before {
		position: absolute;
		content: "";
		background: linear-gradient(90deg, #d43d2f 20%, rgba(0, 0, 0, 0) 100%);
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}
.home-text {
	.active-btn {
		background: #e21313;
		border: 1px solid transparent;
	}
}



.mean-container {
	.mean-bar {
		float: left;
		width: 100%;
		position: absolute;
		background: transparent;
		padding: 20px 0 0;
		z-index: 999;
		border-bottom: 1px solid rgba(0, 0, 0, 0.03);
		height: 25px;
	}
}

.navbar-area .main-nav .navbar .navbar-button a {
    color: #e9b5b5;
    background: #dc3545;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
   
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(220, 53, 69);
    padding: 10px 10px;
    padding-top: 10px;
    padding-right: 37px;
    padding-bottom: 10px;
    padding-left: 37px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    font-size: 16px;
}
.logo {
	border-style: none;
	width: 40px;
}