<div id="page-top">

    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="./assets/img/forum.png" class="logo"></div>
                    <div class="sidebar-brand-text mx-3"><span style="color: #db695f;">Forum de la
                            <br>république</span></div>
                </a>
                <br><br><br>

                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" a routerLink="/dashbord" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/gestionevent" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-table"></i><span>Géstion des Evénements</span></a></li>
                    <li class="nav-item"><a class="nav-link active" a routerLink="/gestionadherents" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                class="fas fa-table"></i><span>Géstion des adhérents</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">


                <div class="container-fluid">
                    <br><br>
                    <div class="card shadow">

                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Gestion événements</p>
                            <div class="container-fluid"><button type="button" class="btn btn-primary" id="b2" data-bs-toggle="modal" data-bs-target="#exampleModal2">Ajouter évènement
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                </button></div>

                        </div>
                        <div class="card-body" style="width: 1000px;">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mainLoginInput">
                                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche évènement">
                                    </div>
                                </div>
                                <div class="col--12">
                                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                                    </div>
                                </div>

                            </div>
                            <div class="table-responsive table mt-2" style="display: inline;" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Id</th>



                                            <th>Nom</th>


                                            <th>Description </th>


                                            <th>Adresse</th>

                                            <th>Date</th>
                                            <!-- <th>Heure de début </th>
                                            <th>Heure de début</th> -->

                                            <th>Affiche</th>


                                            <th></th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let even of listevent  ; let hero of heroes | filter:searchText">


                                            <td>
                                                {{even.id}}
                                            </td>

                                            <td> {{even.nom_event}}</td>

                                            <td>{{even.descriptionEvent}}</td>
                                            <td>{{even.adressevent}}</td>
                                            <td>
                                                {{even.date | date: 'yyyy-MM-dd'}}

                                            </td>
                                            <!-- <td>{{even.debut | date: 'HH:mm'}}</td>
                                            <td>{{even.debut| date: 'HH:mm'}}</td> -->


                                            <td>


                                                <div class="container-fluid">
                                                    <button type="button" class="btn btn-primary" id="b1" data-bs-toggle="modal" (click)="getProfileImg(even.id)" data-bs-target="#modalPhoto">
                                                    <i class="fas fa-file-image" id="1" aria-hidden="true"></i>
                                                </button></div>

                                            </td>


                                            <td>
                                                <div class="btn-group">
                                                    <div class="container-fluid"><button class="btn btn-primary" (click)="deleteEventById(even)" (click)="confirmSwal(even.id)" ngbTooltip="supprimer" type="button"><i class="fa fa-trash"
                                                                aria-hidden="true"></i></button></div>
                                                    <div class="container-fluid"><button type="button" (click)="editevent(even)" class="btn btn-primary" id="b1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                            <i class="fa fa-wrench" aria-hidden="true"></i>
                                                        </button></div>
                                                </div>
                                                <div class="modal fade" id="modalPhoto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel1">photo
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div *ngIf="thumbnailTest">
                                                                    <img [src]="thumbnail">
                                                                </div>
                                                                <div class="card-body px-lg-5 py-lg-5" *ngIf="!thumbnailTest">

                                                                    <form role="form" [formGroup]="">
                                                                        <div class="custom-file hedha">
                                                                            <input type="file" class="custom-file-input" accept="image/*" (change)="onSelectFile($event)" id="customFileLang" lang="en">
                                                                            <label class="custom-file-label" for="customFileLang">image selectionée</label>
                                                                        </div>
                                                                        <div class="text-center">
                                                                            <span class=" rounded-circle">
                                                                  <img class=" rounded-circle"  style="width: 100px;" [src]="imageSrc">
                                                                </span> </div>
                                                                        <div class="text-center" *ngIf="selected">
                                                                            <button type="submit" (click)="onUploadc()" (click)="getProfileImg(idSelected)" (click)="successSwal()" class="btn btn-sm btn-primary mt-4">Changer la photo du profil</button>
                                                                        </div>


                                                                    </form>
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Modifier Evénements
                                                                </h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <form class="user" [formGroup]="form">
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" id="exampleFirstName" name="date" type="date" placeholder="yyyy-MM-dd" formControlName="date" [value]="form.get('date').value | date:'yyyy-MM-dd'"></div>
                                                                        <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Titre" formControlName="nom_event" name="nom_event"></div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="descriptionEvent" formControlName="descriptionEvent" name="descriptionEvent">
                                                                        </div>
                                                                        <!-- <div class="col-sm-6">

                                                                            <input class="form-control form-control-user" type="time" min="08:00" max="00:00" id="exampleFirstName" formControlName="debut" name="debut" [value]="form.get('debut').value | date : 'HH:mm' ">
                                                                        </div> -->


                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <!-- <div class="col-sm-6 mb-3 mb-sm-0">

                                                                            <input class="form-control form-control-user" type="time" min="08:00" max="00:00" id="exampleFirstName" formControlName="fin" name="fin" [value]="form.get('fin').value | date : 'HH:mm' ">
                                                                        </div> -->

                                                                        <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="adressevent" formControlName="adressevent" name="adressevent"></div>

                                                                    </div>




                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" (click)="successSwal2()" data-bs-dismiss="modal">Fermer</button>
                                                                <button type="button" (click)="successSwal1()" class="btn btn-primary" (click)="updateEvents()">Enregistrer</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <div class="text-muted text-center">
                                                                    <h3>Ajouter un nouveau évènement</h3>
                                                                </div>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="card-body px-lg-5 py-lg-5">
                                                                <form role="form" [formGroup]="form">
                                                                    <div class="form-row">
                                                                        <div class="col">
                                                                            <label for="exampleFormControlTextarea1" class="text-dark">Nom :</label>
                                                                        </div>
                                                                        <div class="col">
                                                                            <label for="exampleFormControlTextarea1" class="text-dark">descriptionEvent :</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="col">
                                                                            <div class="form-group mb-3">
                                                                                <div class="input-group input-group-alternative">
                                                                                    <div class="input-group-prepend">
                                                                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                                                                    </div>
                                                                                    <input class="form-control text-dark" name="nom_event" formControlName="nom_event" placeholder="Nom" type="text">
                                                                                    <div class="invalid-feedback">
                                                                                        Ce champs est obligatoire
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group mb-3">
                                                                                <div class="input-group input-group-alternative">
                                                                                    <div class="input-group-prepend">
                                                                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                                                                    </div>
                                                                                    <input class="form-control text-dark" placeholder="Prénom" name="descriptionEvent" formControlName="descriptionEvent" type="text">
                                                                                    <div class="invalid-feedback">
                                                                                        Ce champs est obligatoire
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="col">
                                                                            <label for="exampleFormControlTextarea1" class="text-dark">adressevent :</label>
                                                                        </div>
                                                                        <div class="col">
                                                                            <label for="exampleFormControlTextarea1" class="text-dark">date :</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="col">
                                                                            <div class="form-group mb-3">
                                                                                <div class="input-group input-group-alternative">
                                                                                    <div class="input-group-prepend">
                                                                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                                                                    </div>
                                                                                    <input class="form-control text-dark" formControlName="adressevent" name="adressevent" placeholder="Nom" type="text">
                                                                                    <div class="invalid-feedback">
                                                                                        Ce champs est obligatoire
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group mb-3">
                                                                                <div class="input-group input-group-alternative">
                                                                                    <div class="input-group-prepend">
                                                                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                                                                    </div>
                                                                                    <input class="form-control text-dark" type="date" placeholder="yyyy-MM-dd" formControlName="date" [value]="form.get('date').value | date:'yyyy-MM-dd'">
                                                                                    <div class="invalid-feedback">
                                                                                        Ce champs est obligatoire
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="form-row">
                                                                        <div class="col">
                                                                            <label for="exampleFormControlTextarea1" class="text-dark">Heure de début :</label>
                                                                        </div>
                                                                        <div class="col">
                                                                            <label for="exampleFormControlTextarea1" class="text-dark">Heure de fin :</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-row">
                                                                        <div class="col">
                                                                            <div class="form-group mb-3">
                                                                                <div class="input-group input-group-alternative">
                                                                                    <div class="input-group-prepend">
                                                                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                                                                    </div>
                                                                                    <input class="form-control text-dark" formControlName="debut" name="debut" placeholder="HH:mm" type="time" [value]="form.get('debut').value | date : 'HH:mm' ">
                                                                                    <div class="invalid-feedback">
                                                                                        Ce champs est obligatoire
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col">
                                                                            <div class="form-group mb-3">
                                                                                <div class="input-group input-group-alternative">
                                                                                    <div class="input-group-prepend">
                                                                                        <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                                                                                    </div>
                                                                                    <input class="form-control text-dark" type="time" formControlName="fin" name="fin" placeholder="HH:mm" [value]="form.get('fin').value | date : 'HH:mm' ">
                                                                                    <div class="invalid-feedback">
                                                                                        Ce champs est obligatoire
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div> 
                                                                    </div>-->

                                                                </form>
                                                            </div>
                                                            <div class="card-body px-lg-5 py-lg-5">

                                                                <form role="form" [formGroup]="">
                                                                    <div class="custom-file hedha">
                                                                        <input type="file" class="custom-file-input" accept="image/*" (change)="onSelectFile($event)" id="customFileLang" lang="en">
                                                                        <label class="custom-file-label" for="customFileLang">image selectionée</label>
                                                                    </div>
                                                                    <div class="text-center">
                                                                        <span class=" rounded-circle">
                                                              <img class=" rounded-circle"  style="width: 100px;" [src]="imageSrc">
                                                            </span> </div>



                                                                </form>
                                                            </div>

                                                            <div class="text-center" *ngIf="selected">
                                                                <button type="submit" class="btn btn-primary my-4 " (click)="onUploadc()" (click)="getProfileImg" (click)="add_event()"><span
                                                                class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                                                              Ajouter évènement
                                                            </button>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </td>

                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <br>

                    <div class="row">
                        <div class="col-md-6 align-self-center">

                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                                aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                    <!-- Modal -->

                </div>
            </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>