<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" [formGroup]="changeForm">
                <span class="login100-form-logo">
            <img src="assets/img/logo.png" class="user-image2" alt="User Image" />
          </span>
                <span class="login100-form-title p-b-34 p-t-27">
          </span>
                <div class="wrap-input100 validate-nput">
                    <input type="password" id="mdp" class="form-control input100" name="mdp" #password placeholder="Nouveau mot de passe" required formControlName="password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <div class="erreur-msg" *ngIf="changeForm.get('password').invalid && (changeForm.get('password').dirty || changeForm.get('password').touched)">
                        <div class="msg-err" *ngIf="changeForm.get('password').errors.required">password est obligatoire.</div>
                        <div class="msg-err" *ngIf="changeForm.get('password').errors.minlength">password at least 6.</div>
                    </div>





                </div>
                <div class="wrap-input100 validate-input pass">
                    <input type="password" id="mdp" class="form-control input100" name="mdp" #confirmpassword placeholder="Confirmer votre mot de passe" required formControlName="confirmpassword">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    <div class="erreur-msg" *ngIf="changeForm.get('confirmpassword').invalid && (changeForm.get('confirmpassword').dirty || changeForm.get('confirmpassword').touched)">
                        <div class="msg-err" *ngIf="changeForm.get('confirmpassword').errors.required">password est obligatoire.</div>
                        <div class="msg-err" *ngIf="changeForm.get('confirmpassword').getError('MustMatch')">Passwords must match</div>

                    </div>


                </div>
                <div class="container-login100-form-btn">


                    <button type="button" class="login100-form-btn" (click)="updatemp(password.value,confirmpassword.value)">Enregistrer</button>

                </div>
            </form>
        </div>
    </div>
</div>