<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-9 col-xl-6">
                <div class="card shadow-lg o-hidden border-2 my-5">
                    <div class="card-body py-2">
               
                    
                    
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Last Name" name="last_name"></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="phone" id="telephone" aria-describedby="phoneHelp" placeholder="Téléphone" name="phone"></div>
                                
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                                    <div>
                                        <label for="bday">Veuillez saisir votre date de naissance :</label>
                                        <input type="date" id="bday" name="bday">
                                      </div>
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                                        <div class="col-sm-10">
                                        <div class="form-check" >
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          Homme
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                          Femme
                                        </label>
                                      </div>
                                    </div>
                                    </fieldset>
                                </div>

                                <div align="center">
                                  <div class="form-group row">
                                    <div ><button type="button" class="btn btn-primary btn-sm" style="margin-right: 50px;"><a routerLink="/adresse"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Continuer</a></button>
                                    <button type="button" class="btn btn-secondary btn-sm"><a routerLink="/Register"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Retourner</a></button></div>
                              </div>
                              </div>
                                
                                <hr>
                                
                            </form>
                        </div>
                    </div></div>
            </div></div>
</div>
</div>

    
