<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-9 col-xl-6">
                <div class="card shadow-lg o-hidden border-2 my-5">
                    <div class="card-body py-2">



                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">S'inscrire</h4>
                            </div>
                            <form class="user" [formGroup]="DetailsForm" (ngSubmit)="saveD()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" [(ngModel)]="details.age" placeholder="Age" name="age" required></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="nationalité" placeholder="nationalité" [(ngModel)]="details.nationalite" name="nationalité"></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="phone" id="téléphone" aria-describedby="phoneHelp" [(ngModel)]="details.telephone" placeholder="téléphone" name="téléphone"></div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="profession" [(ngModel)]="details.profession" placeholder="Profession" name="profession"></div>

                                    <div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="inputState" class="form-label">Statut_Social</label>
                                            <select id="statut_social" class="form-select" [(ngModel)]="details.statut_social">
                                              <option selected>...</option>
                                              <option>Célèbataire</option>
                                              <option>Marier</option>
                                              <option>Divorcer</option>
                                              <option>Autre</option>
                                              
                                            </select>
                                        </div>
                                        <label for="bday">Veuillez saisir votre date de naissance :</label>
                                        <input type="date" id="date_de_naissance" name="date_de_naissance" [(ngModel)]="details.date_de_naissance">
                                    </div>
                                    <fieldset class="row mb-3">
                                        <legend class="col-form-label col-sm-2 pt-0">Sexe</legend>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sexe" [(ngModel)]="details.sexe" id="sexeh">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                          Homme
                                        </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="sexe" [(ngModel)]="details.sexe" id="sexef" checked>
                                                <label class="form-check-label" for="flexRadioDefault2">
                                          Femme
                                        </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div align="center">
                                    <div class="form-group row">
                                        <div><button mat-raised-button type="submit" class="btn btn-primary btn-sm">  <span class="material-icons">
                                      
                                        </span> confirmer</button>
                                            <button type="button" class="btn btn-secondary btn-sm"><a routerLink="/Register"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Retourner</a></button></div>
                                    </div>
                                </div>

                                <hr>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>